<!--The content below is only a placeholder and can be replaced.-->
<nav style="text-align:center">
  <span>
    <a class="boldbuttons" href="login.html">Login</a>
    <a class="boldbuttons" href="register.html">Registration</a>
    <a class="boldbuttons" href="user.html">Employee Home</a>
    <a class="boldbuttons" href="admin.html">Admin Home</a>
  </span>
</nav>
<div style="text-align:center">
  <img class="headerpic" width="95%" alt="Yakima Valley Fair Trade" src="assets/yakima-logo.jpg">
</div>
<div class="headerpic" style="text-align:center">
  <h2>Thank you for visiting our site.</h2>
  <h2>Our mission is to protect the harmony of animals & nature throughout North America, while ensuring living wages for family farms.</h2>
  <h2>Please Login or Register to continue.</h2>
</div>
<footer style="text-align:center">Copyright 2019 - Nathan Jahromi</footer>

