* {
    margin:0;
    padding:0;
    border:0;
    color:white;
    background-color:black;
}
.container {
    width:70vw;
    min-width:400px;
    height:10vh;
    background-color:white;
    margin:auto;
}
.button {
    transition-duration: 0.4s;
    background-color: #4CAF50;
    border: none;
    border-radius:5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:100px;
    margin:auto;
  }
  
.button:hover {
    background-color: rgb(114, 76, 175);
    color: white;
    cursor:pointer;
}