section {
  background-image: url("https://images.wallpaperscraft.com/image/flower_background_bright_lines_dark_51825_1920x1080.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  padding: 0 20px;
  color: white;
}

button {
  width: 20%;
  margin: 0 auto;
}
