<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span> The Grand Day Off Project </span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-left"></span>
    <span class="example-spacer"></span>
    <button mat-button class="align-center">About Project</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>