<div class="container">
  <div class="jumbotron">
    <h2>Register an Account</h2>
    <form (ngSubmit)=register(f) #f="ngForm">
      <div class="form-group">
        <input type="text" class="form-control validate" placeholder="Firstname Only" ngModel name="name">
<br>
        <input type="email" placeholder="Email" class="form-control validate" ngModel name="email">
<br>
        <input type="password" placeholder="Password" class="form-control validate" ngModel name="password">
      </div>
      <br>
      <button type="submit" class="btn btn-success">Create Account</button>
      <br><br>
      <button class="btn btn-primary" routerLink="/">Back to Home</button>
    </form>
  </div>
</div>
