<div class="gap-20"></div>
<section class="flex-row-center">
  <form class="flex-col-center" [formGroup]="userRegisterForm" (ngSubmit)="userRegister()">
    <h3>User Register</h3>
    <br>
    <mat-form-field>
      <input formControlName="firstName" matInput type="text" placeholder="First name">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="lastName" matInput type="text" placeholder="Last name">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="email" matInput type="email" placeholder="E-mail">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" matInput type="password" placeholder="Password">
    </mat-form-field>
    <br>
    <button [disabled]="!userRegisterForm.valid" type="submit" mat-raised-button>Register</button>
    <div class="gap-20"></div>
    <button type="button" [routerLink]="[ '/' ]" mat-raised-button color="accent">Back</button>
  </form>
</section>