<form [formGroup]="userRegisterForm" (ngSubmit)="userRegister()">
  <h3>User Register</h3>
  <br>
  <mat-form-field>
    <input formControlName="firstName" matInput type="text" placeholder="First name">
  </mat-form-field>
  <mat-form-field>
    <input formControlName="lastName" matInput type="text" placeholder="Last name">
  </mat-form-field>
  <mat-form-field>
    <input formControlName="email" matInput type="email" placeholder="E-mail">
  </mat-form-field>
  <mat-form-field>
    <input formControlName="password" matInput type="password" placeholder="Password">
  </mat-form-field>
  <br>
  <button [disabled]="!userRegisterForm.valid" type="submit" mat-raised-button>Register</button>
</form>
<br>
<a [routerLink]="[ '/' ]">Back</a>